body {
   background-image: url("image/istockphoto-1168680477-612x612.jpg");
   background-size: cover; 
   background-position: center; 
   background-repeat: no-repeat; 
   height: 100vh;
   margin: 0;
}

