body {
  height: 100%;
  background-position:center
  background-size:cover
  background-repeat:no-repeat
  
}

h1 {
   font-size: 14px
   color: rgb(169, 169, 169)
}

p{
      font-size: 14px
      color: rgb(169, 169, 169)
}
